/*Colors
Dark: #38353A
Red: #C0364A
White: #E2DFD9
Teal: #1A8A80
Blue-Grey: #788A93
*/
body {
    background-color: #788A93;
}

.hidden-album {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightgrey;
    background-blend-mode: screen;
    color: #38353A;
}

#album-details-1 {
    background-image: url(../images/kevin-max.jpeg);
}

#album-details-2 {
    background-image: url(../images/aubryn.jpg);
}

#album-details-3 {
    background-image: url(../images/ben-sturgell.jpg);
}

#album-details-4 {
    background-image: url(../images/gnarly-parkers.jpeg);
}

#album-details-5 {
    background-image: url(../images/adam-searan.jpg);
}

.song-list {}

.description {
    padding-left: 1em;
}

.img-grid {
    padding-right: 2%;
    padding-bottom: 3%;
}

img:hover {
    outline: groove #38353A;
}

.album-details {
    display: none;
}

audio {
    width: 80%;
}

.grey-box {
    background-color: #788A93;
}

#header-image {
    background-image: url(../images/console.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkgray;
    background-blend-mode: multiply;
}

#albums-and-details {
    background-color: #788A93;
}

footer {
    background-color: #C0364A;
    color: #E2DFD9;
}

#other-work {
    height: 20em;
    
}

.header-text {
    color: #E2DFD9;
}

/*
 *  STYLE 10
 */

#other-work::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #788A93;
    border-radius: 10px;
}

#other-work::-webkit-scrollbar {
    width: 10px;
    background-color: #788A93;
}

#other-work::-webkit-scrollbar-thumb {
    background-color: #AAA;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, .2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 75%, transparent 75%, transparent)
}
#contact {
    background-color: #E2DFD9;
    color: #38353A;
}

#testimonials {
     height: 20em;
   text-overflow: ellipsis;
  
}

.dark-transparent {
    background-color: rgba(0,0,0,0.3);
   
}

.scrollbar {
    overflow-y: scroll;
}

#line-dark {
    height: 1px;
    background-color: #38353A;
}
#line-white{
    height: 1px;
    background-color: #E2DFD9;
}
#line-red{
    height: 1px;
    background-color: #C0364A;
}
#line-teal{
    height: 1px;
    background-color: #1A8A80;
}
#line-blue{
    height: 2px;
    background-color: #788A93;
}
.contact {
     background-color: #E2DFD9;
    color: #38353A;
}

#contact-left {
    text-align: right;
}

#middle-stuff {
    
}

.margin-top-bottom {
     margin-top: 10px;
    margin-bottom: 5px;
}

#main {
    color: #38353A;
}

#scroll-to-bottom {
    color: #645c5c;
}
